@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/*=======COLORS========*/
/*buttons*/
/*arrow css*/
/*text*/
/*old colors*/
/*border*/
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top-wrap {
  height: 100px;
  background: linear-gradient(90.02deg, #70001B -1.41%, #A5032A 102.17%);
  padding: 17px 0px 0px 0px;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-input {
  height: 40px;
  width: 318px;
  padding-left: 20px;
}
.search-button-div {
  width: 60px;
  background: #BC0021;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-button-div button {
  background: transparent;
}

.phone svg {
  margin-right: 5px;
}
.phone span {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
}

*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 16px;
  background-color: #fff;
  color: #fff;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*=======COLORS========*/
/*buttons*/
/*arrow css*/
/*text*/
/*old colors*/
/*border*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

.container {
  border: 1px solid red;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.logo {
  margin-right: 34px;
}

.button {
  height: 40px;
  width: 224px;
  background: #BC0021;
  border-radius: 5px;
}
.button__catalog {
  width: 130px;
  background: #BC0021;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}
.button__catalog svg {
  width: 20px;
  height: 18px;
  margin-right: 8px;
}