@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/*=======COLORS========*/
/*buttons*/
/*arrow css*/
/*text*/
/*background*/
/*border*/
*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 16px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  padding: 0 15px;
}

.logo {
  margin-right: 34px;
  width: 113px;
  height: 57px;
}

.qount {
  font-size: 10px;
  color: #FFFFFF;
  background: #3CAA3C;
}

.basket {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.block-title {
  font-weight: 500;
  font-size: 24px;
  color: #2E000B;
}

.block__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
}

main {
  color: #2E000B;
}

.button {
  height: 40px;
  width: 224px;
  background: #BC0021;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}
.button:hover {
  background: #98001B;
}
.button__more {
  width: auto;
  min-width: 152px;
  padding: 0 20px;
}
.button__catalog {
  width: 130px;
  background: #BC0021;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}
.button__catalog svg {
  width: 20px;
  height: 18px;
  margin-right: 8px;
}
.button__show-all {
  margin: 0 auto;
}
.button__approval {
  margin-right: 10px;
  width: 296px;
}
.button__disapproval {
  width: 218px;
  background: #FFFFFF;
  border: 1px solid #B6B6B6;
}
.button__disapproval a {
  color: #7B7B7B;
}
.button__disapproval:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.hide {
  display: none !important;
}

@media (max-width: 767px) {
  .button__catalog {
    height: 35px;
  }
}
@media (max-width: 450px) {
  .button__approval, .button__disapproval {
    width: 100%;
  }
}
/*=======COLORS========*/
/*buttons*/
/*arrow css*/
/*text*/
/*background*/
/*border*/
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.header__top {
  height: 100px;
  background: linear-gradient(90.02deg, #70001B -1.41%, #A5032A 102.17%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom {
  height: 50px;
  background: #70001B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__icon-group {
  display: block;
  text-align: center;
  margin-right: 24px;
  position: relative;
}
.header__icon-group:last-child {
  margin-right: 0;
}
.header__icon-group-wrap {
  position: relative;
}
.header__icon-group svg {
  height: 26px;
  width: 26px;
}
.header__icon-group p {
  font-size: 12px;
  margin-top: 4px;
}
.header__icon-group .qount {
  position: absolute;
  top: -5px;
  right: 0;
  font-weight: 500;
  border-radius: 23px;
  padding: 4px;
}
.header__icon-group .summ {
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 5px;
}
.header .favourites svg use {
  stroke: #fff;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-input {
  height: 40px;
  width: 318px;
  padding-left: 20px;
}
.search-button-div {
  width: 60px;
  background: #BC0021;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-button-div button {
  background: transparent;
}
.search-button-div svg {
  width: 20px;
  height: 20px;
}

.phone svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.phone span {
  font-weight: 500;
  font-size: 20px;
}

.menu {
  width: 100%;
}
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.menu ul .active {
  background: #98001B;
  height: 50px;
  padding: 0 16px;
}

@media (max-width: 1200px) {
  .search-input-div {
    display: none;
  }

  .header__bottom {
    display: none;
  }
}
@media (max-width: 860px) {
  .phone span {
    font-size: 14px;
  }
  .phone svg {
    margin-right: 2px;
    width: 15px;
    height: 15px;
  }

  .header__icon-group .summ {
    font-size: 12px;
  }
  .header__icon-group p {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .header__top {
    height: 90px;
  }
  .header__row {
    display: block;
  }
  .header__icons {
    margin-right: 10px;
  }
  .header__icon-group {
    margin-right: 14px;
  }
  .header__icon-group p {
    display: none;
  }
  .header__icon-group svg {
    width: 20px;
    height: 20px;
  }
  .header__icon-group .summ {
    display: none;
  }
  .header__icon-group .qount {
    font-size: 8px;
    right: -12px;
    top: -8px;
  }
  .header .logo {
    margin-bottom: 5px;
    height: 35px;
  }
  .header .phone {
    position: absolute;
    top: 8px;
    right: 0;
  }
  .header .phone span {
    font-size: 16px;
  }
  .header .search-button-div {
    background: transparent;
  }
}
.catalog-page__wrap {
  padding: 45px 0px 0px 0px;
}
.catalog-page__content {
  margin-top: 45px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.product-min {
  width: 24.8%;
  max-width: 310px;
  min-width: 300px;
  height: 500px;
  padding: 20px;
  position: relative;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.product-min__img {
  text-align: center;
}
.product-min__info {
  font-size: 10px;
  color: #686868;
  background: #F0F0F0;
  border-radius: 4px;
  padding: 3px 5px;
  margin-right: 7px;
}
.product-min__info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px 0px 0px;
}
.product-min__article {
  margin-top: 18px;
  color: #7B7B7B;
  font-size: 12px;
}
.product-min__price {
  font-weight: bold;
  font-size: 20px;
  color: #2E000B;
}
.product-min__price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
}
.product-min__price.old {
  font-weight: normal;
  font-size: 16px;
  color: #7B7B7B;
  padding-top: 3px;
  position: relative;
  margin-left: 10px;
}
.product-min__price.old::before {
  content: "";
  position: absolute;
  top: 60%;
  left: -1px;
  display: block;
  width: 58px;
  height: 1px;
  z-index: 2;
  background-color: #7B7B7B;
}
.product-min__buttons-wrap {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-min__buttons-wrap .open-box {
  width: 36px;
  height: 36px;
  margin-left: 10px;
}
.product-min__plashka {
  position: absolute;
  top: 30px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}
.product-min__change-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 104px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.product-min__change-amount__regulator {
  position: relative;
  padding: 0 16px;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.product-min__change-amount__text {
  padding-top: 17px;
  padding-bottom: 15px;
  width: 32px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #000;
  border: none;
}
.product-min:hover {
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
}
.product-min:hover .favourites {
  opacity: 1;
}
.product-min:hover .button {
  background: #98001B;
}
.product-min:hover .year {
  background: #BC0021;
  color: #FFFFFF;
}
.product-min.active .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-min .favourites {
  top: 56px;
  right: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}
.product-min .favourites svg {
  width: 23px;
  height: 20px;
}
.product-min .favourites svg use {
  stroke: #BC0021;
}
.product-min .favourites.active svg {
  background: red;
}
.product-min .favourites.active svg use {
  fill: #BC0021;
}
.product-min .block-title {
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
}
.product-min .block-title__inglish {
  font-size: 14px;
  color: #7B7B7B;
  margin-top: 5px;
}
.product-min .button {
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}
.product-min .button svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.product-min .button span {
  font-size: 16px;
  color: #FFFFFF;
}
.product-min .year {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.counter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
  display: none;
}
.counter__number {
  width: 120px;
  height: 40px;
  background: #BC0021;
  border-radius: 5px;
  margin: 0 14px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}
.counter__number span {
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 15px;
}
.counter__number input {
  background: #BC0021;
  color: #FFFFFF;
  text-align: center;
  max-width: 40px;
}
.counter p {
  font-size: 16px;
  color: #AFAFAF;
}
.counter p span {
  color: #BC0021;
}

@media (max-width: 1200px) {
  .product-min {
    width: 33%;
  }
}
@media (max-width: 900px) {
  .product-min {
    width: 50%;
  }
}
@media (max-width: 580px) {
  .products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .product-min {
    width: 100%;
  }
}
.slider-block {
  margin: 40px auto 0;
  padding: 30px 0px 0px 0px;
  max-width: 1230px;
}
.slider-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px;
  position: relative;
}
.slider-block__header .block-title {
  color: #BC0021;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.slider-block__header .block-title:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #BC0021;
  display: inline-block;
  margin-left: 20px;
}
.slider-block__simple .slider-block__header .block-title {
  color: #2E000B;
}
.slider-block__simple .slider-block__header .block-title:after {
  content: none;
}

.swiper {
  width: 1230px !important;
  height: 550px;
  padding: 20px 10px !important;
  overflow: hidden;
}
.swiper .swiper-wrapper {
  width: 1230px !important;
}
.swiper .swiper-slide {
  height: 510px !important;
}
.swiper-button-prev, .swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  top: 230px !important;
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: "" !important;
}
.swiper-button-prev svg, .swiper-button-next svg {
  width: 10px;
  height: 10px;
}
.swiper-button-prev {
  background: #EFEFEF;
}
.swiper-button-next {
  background: #BC0021;
}
.swiper .product-min {
  width: 310px;
}

@media (max-width: 1230px) {
  .swiper-button-prev, .swiper-button-next {
    top: 30px !important;
    margin-top: 0 !important;
    width: 30px !important;
    height: 30px !important;
  }
  .swiper-button-prev {
    left: 45% !important;
  }
  .swiper-button-next {
    right: 45% !important;
  }
}
@media (max-width: 670px) {
  .slider-block .swiper-button-prev {
    left: 40% !important;
  }
  .slider-block .swiper-button-next {
    right: 40% !important;
  }
  .slider-block .button__more {
    min-width: 90px;
    font-size: 12px;
    padding: 0 10px;
  }
  .slider-block .block-title {
    font-size: 18px;
  }
  .slider-block .slider-block__header .block-title:after {
    display: none;
  }
  .slider-block__header {
    padding: 0px 10px;
  }
}
.journal {
  margin-top: 70px;
  padding: 40px 0px 50px 0px;
  background: #FAFAFA;
}
.journal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.journal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 37px 0px 30px 0px;
}
.journal__item {
  width: 365px;
}
.journal__item .block-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin: 26px 0px 12px 0px;
}
.journal__item .block-title_red {
  color: #BC0021;
}
.journal__item .block__text {
  font-size: 16px;
  line-height: 140%;
  color: #7B7B7B;
  max-height: 65px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .journal__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  .journal__header .button__more {
    margin: 0 !important;
  }
  .journal__item {
    margin: 0 20px 50px;
  }
  .journal .button__more {
    margin: 0 auto;
  }
}
@media (max-width: 520px) {
  .journal {
    margin-top: 40px;
    padding: 20px 0px 20px 0px;
  }
  .journal__header {
    display: block;
  }
  .journal__header .block-title {
    margin-bottom: 15px;
  }
  .journal .block-title, .journal .block__text {
    padding: 0px 10px;
  }
  .journal__body {
    margin-top: 25px;
  }
  .journal__item {
    width: 320px;
  }
  .journal__item img {
    width: 320px;
  }
}
.about-store__wrap {
  padding: 75px 0px 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-store__info {
  margin: 0px 40px 0px 0px;
}
.about-store .block-title {
  margin-bottom: 20px;
}
.about-store .block__text {
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
}
.about-store .button {
  max-width: 130px;
  margin-top: 25px;
}

@media (max-width: 960px) {
  .about-store__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px 40px 0px;
  }
  .about-store img {
    width: 100%;
    height: 293px;
  }
  .about-store .container {
    padding: 0;
  }
  .about-store__info {
    margin: 30px 0px 0px 0px;
    padding: 0px 15px;
  }
  .about-store .block-title {
    font-size: 18px;
  }
  .about-store .block__text {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .about-store .block-title {
    font-size: 14px;
  }
  .about-store .block__text {
    font-size: 12px;
  }
}
.intro {
  background: #FAFAFA;
  padding: 50px 0px 20px 0px;
}
.intro .block__text {
  margin-bottom: 25px;
}
.intro .block-title {
  margin-bottom: 20px;
}

.footer__top {
  background: #242424;
  padding: 70px 20px 50px 0px;
}
.footer__top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  margin-bottom: 36px;
}
.footer__contacts .phone {
  margin: 30px 0px 0px 0px;
}
.footer__bottom {
  padding: 27px 0px 31px 0px;
  background: #1E1E1E;
}
.footer__bottom p, .footer__bottom a {
  font-size: 12px;
  line-height: 120%;
  color: #FFFFFF;
}
.footer .block-title {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0px 0px 36px 0px;
}
.footer a:hover {
  opacity: 0.7;
}
.footer ul li {
  font-size: 14px;
  line-height: 220%;
  color: #FFFFFF;
}

@media (max-width: 750px) {
  .footer__top {
    padding-bottom: 20px;
  }
  .footer__top-wrap {
    display: block;
  }
  .footer__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts .phone {
    margin-top: 0;
  }
  .footer__item {
    margin-bottom: 45px;
  }
  .footer__item ul li {
    height: 0;
    opacity: 0;
    -webkit-transition: height 0.5s ease 0s;
    transition: height 0.5s ease 0s;
  }
  .footer__item.active ul li {
    height: auto;
    opacity: 1;
    -webkit-transition: height 0.5s ease 0s;
    transition: height 0.5s ease 0s;
  }
  .footer .block-title {
    margin: 0px 0px 10px 0px;
    font-size: 18px;
  }
}
@media (max-width: 374px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
  }
  .footer__contacts .phone {
    margin-top: 20px;
  }
}
/*=======COLORS========*/
/*buttons*/
/*arrow css*/
/*text*/
/*background*/
/*border*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__wrap {
  max-width: 624px;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 48px 50px;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.proof-of-age__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.proof-of-age__header span {
  font-weight: 800;
  font-size: 90px;
  color: #BC0021;
  margin-right: 45px;
}
.proof-of-age__header p {
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  color: #2E000B;
}
.proof-of-age__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #7B7B7B;
  margin: 32px 0px 0px 0px;
}
.proof-of-age__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}
.proof-of-age button {
  height: 60px;
}

@media (max-width: 680px) {
  .modal {
    padding: 0px 30px;
  }
  .modal__wrap {
    max-width: 100%;
  }

  .proof-of-age__header span {
    font-size: 30px;
    margin-right: 30px;
  }
  .proof-of-age__header p {
    font-size: 16px;
  }
  .proof-of-age__text {
    font-size: 12px;
    margin: 25px 0px 0px 0px;
  }
  .proof-of-age__btns {
    display: block;
  }
  .proof-of-age .button__approval {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .modal__wrap {
    padding: 20px;
  }

  .proof-of-age__header {
    display: block;
  }
  .proof-of-age__header span {
    margin-bottom: 15px;
    display: block;
  }
}
.product-card__wrap {
  margin-top: 21px;
}
.product-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.product-card__title .block-title {
  font-weight: 500;
  font-size: 28px;
  margin-right: 15px;
}
.product-card__title .block-title__inglish {
  font-size: 16px;
  color: #7B7B7B;
  line-height: 20px;
}
.product-card__price {
  width: 356px;
  height: 260px;
  background: #F0F0F0;
  border-radius: 5px;
  margin-left: 30px;
  padding: 25px 15px 0 20px;
}
.product-card__price-old {
  position: relative;
  margin-top: 30px;
  margin-left: 5px;
}
.product-card__price-old .product-min__plashka.sale {
  width: 50px;
  height: 26px;
  top: -30px;
  left: 0;
}
.product-card__price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-card__price-wrap p {
  font-weight: normal;
  font-size: 12px;
  color: #7B7B7B;
}
.product-card__price-wrap .new {
  font-weight: bold;
  font-size: 50px;
  color: #2E000B;
}
.product-card__price-wrap .old {
  color: #2E000B;
  margin-left: 0;
  margin-left: 5px;
}
.product-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.product-card__footer {
  margin-top: 70px;
}
.product-card .breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
}
.product-card .breadcrumbs__list li {
  margin-right: 10px;
}
.product-card .breadcrumbs__list li::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: -3px 7px 3px;
  border: solid #7B7B7B;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.product-card .breadcrumbs__list li:last-child::after {
  content: none;
}
.product-card .breadcrumbs__item {
  font-size: 14px;
  color: #7B7B7B;
}
.product-card .breadcrumbs__item_title {
  color: #2E000B;
}
.product-card .product-min__info {
  font-size: 14px;
  padding: 5px 9px;
}
.product-card .product-min-wrap {
  margin: 13px 0px 0px 0px;
}
.product-card .product-min__article {
  font-size: 14px;
}
.product-card .product-min__img {
  width: 446px;
  height: 449px;
  position: relative;
}
.product-card .product-min__img img {
  height: 100%;
}
.product-card .product-min__img__plashka.sale {
  top: 10px;
  left: 10px;
  width: 77px;
  height: 40px;
  background: #BC0021;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
}
.product-card .product-min__buttons-wrap {
  margin-top: 40px;
}
.product-card .product-min__buttons-wrap .button {
  width: 246px;
  height: 50px;
}
.product-card .product-min__buttons-wrap .button svg {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}
.product-card .product-min__buttons-wrap .open-box {
  width: 50px;
  height: 40px;
}
.product-card .product-min__plashka.available {
  top: 10px;
  right: 10px;
  width: 71px;
  height: 20px;
  background: #3CAA3C;
  border-radius: 4px;
  font-size: 12px;
}
.product-card .product-min__plashka.favourites {
  top: 60px;
  right: 19px;
  cursor: pointer;
  display: block;
}
.product-card .product-min__plashka.favourites svg {
  width: 47px;
  height: 40px;
}
.product-card .product-min__plashka.favourites p {
  font-size: 12px;
  line-height: 120%;
  color: #BC0021;
  width: 65px;
  margin-top: 10px;
}
.product-card .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  cursor: pointer;
}
.product-card .counter__number {
  margin: 0 18px 0 0;
  width: 130px;
  height: 50px;
}
.product-card .counter__offer-info {
  font-size: 14px;
  color: #BC0021;
  margin-bottom: 5px;
}
.product-card .counter__offer-price {
  font-weight: bold;
  font-size: 22px;
  color: #BC0021;
}

.specifications {
  margin: 0px 32px 0px 20px;
  width: 316px;
}
.specifications__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.specifications__item {
  width: 50%;
  height: 48px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 150%;
}
.specifications__item span {
  color: #7B7B7B;
}
.specifications__item p {
  color: #2E000B;
}
.specifications a {
  font-size: 14px;
  color: #BC0021;
}

.vintage {
  margin-top: 20px;
}
.vintage__title {
  margin-bottom: 10px;
  font-size: 16px;
  color: #7B7B7B;
}
.vintage__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
  margin-top: 8px;
}
.vintage__items.hide {
  display: none;
}
.vintage__item {
  width: 130px;
  height: 66px;
  background: #F0F0F0;
  color: #2E000B;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
}
.vintage__item .product-min__plashka {
  position: relative;
  right: 0 !important;
  top: 10px !important;
  width: 57px !important;
  height: 16px !important;
  font-size: 10px !important;
}
.vintage__item.active {
  background: #98001B;
  color: #FFFFFF;
}
.vintage__more {
  font-size: 14px;
  color: #BC0021;
  margin-top: 15px;
  cursor: pointer;
}
.vintage__more.hide {
  display: none;
}

.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}
.tabs__caption li {
  font-weight: 500;
  font-size: 24px;
  color: #BC0021;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 0 5px;
  text-align: center;
  margin-right: 40px;
}
.tabs__caption li.active {
  color: #2E000B;
}
.tabs__caption li::after {
  content: "";
  width: 1px;
  height: 28px;
  background: #C4C4C4;
  display: block;
  position: absolute;
  top: 0;
  right: -20px;
}
.tabs__caption li:last-child::after {
  content: none;
}
.tabs__caption li span {
  color: #7B7B7B !important;
  margin-left: 5px;
}
.tabs__content {
  display: none;
  background: #fff;
  border-radius: 0 5px 5px 5px;
}
.tabs__content.active {
  display: block;
}
.tabs .specifications {
  width: 800px;
  margin: 38px 0px 0px 0px;
}
.tabs .specifications__items {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.tabs .specifications__item {
  width: 20%;
  margin-right: 70px;
}
.tabs .specifications__description {
  margin: 15px 0px 0px 0px;
  height: 186px;
  overflow: hidden;
  position: relative;
}
.tabs .specifications__description-more {
  font-size: 14px;
  color: #BC0021;
  margin-top: 20px;
  display: block;
  cursor: pointer;
}
.tabs .specifications__description-more.hide {
  display: none;
}
.tabs .specifications__description p {
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  margin: 0px 0px 30px 0px;
}
.tabs .specifications__description.show {
  overflow: visible;
  height: auto;
}
.tabs .specifications__description.show .specifications__plashka {
  display: none;
}
.tabs .specifications__plashka {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  opacity: 0.7;
  background: #fff;
}

.sale {
  font-weight: bold;
  font-size: 16px;
  background: #BC0021;
  border-radius: 5px;
  left: 30px;
  width: 50px;
  height: 26px;
}

.available {
  background: #3CAA3C;
  border-radius: 4px;
  font-size: 10px;
  right: 30px;
  width: 60px;
  height: 16px;
}
.available_not {
  background: #AEAEAE !important;
  color: #FFFFFF;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 825px;
  padding: 35px 0px 20px;
  border-bottom: solid 1px #E2E2E2;
}
.reviews__info {
  margin-right: 67px;
}
.reviews__name {
  font-weight: 500;
  font-size: 16px;
  color: #BC0021;
  margin-bottom: 10px;
}
.reviews__data {
  font-size: 14px;
  color: #7B7B7B;
  margin-bottom: 15px;
}
.reviews__title {
  font-weight: 500;
  font-size: 16px;
  color: #2E000B;
  margin-bottom: 10px;
}
.reviews__p {
  font-size: 14px;
  line-height: 140%;
  color: #7B7B7B;
  margin-bottom: 16px;
}