.basket-page{

    &__body{
        display: flex;
        justify-content: space-between;
        margin-top: 22px;
    }

    &__items{
        width: 70%;
    }

    &__result{
        width: 28%;

        &-wrap{
            border: 1px solid $border;
            padding: 25px 20px 20px 18px;
        }

        &-p{
            font-size: 16px;
            color: $text-grey;
        }

        &-number{
            font-size: 16px;
            color: $text-bold;
        }

        &-block{
            display: flex;
            justify-content: space-between;
            margin-bottom: 13px;
        }

        .title{
            margin-bottom: 20px;

            p{
                font-weight: 500;
                font-size: 24px;
                color: $text-bold;
            }

            span{
                font-weight: bold;
                font-size: 30px;
                color: $text-red;
            }
        }

        .button{
            width: 100%;
            height: 50px;
            font-size: 18px;
        }
    }

    &__promocode{
        border-top: 1px solid #E2E2E2;
        border-bottom: 1px solid #E2E2E2;
        margin: 26px 0px 30px 0px;
        padding: 27px 0px;

        &-wrap{
            display: flex;
            justify-content: space-between;
        }

        &-input{
            margin: 16px 0px 0px 0px;

            input{
                height: 40px;
                border-radius: 5px;
                border: 1px solid $border;
                box-sizing: border-box;
                width: 100%;
                padding: 0px 0px 0px 20px;
            }
        }

        &-apply{
            height: 40px;
            background: $background-lite-gray;
            border-radius: 5px;
            width: 100%;
            font-size: 16px;
            color: $text-grey;
            margin-top: 10px;
            box-sizing: border-box;
        }

        &-add{
            background: transparent;
            font-size: 16px;
            color: $text-red;
        }
    }

    &__item{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.13);
        border-radius: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px 10px 48px;
        position: relative;

        &-left-block{
            display: flex;
        }

        &-right-block{
            display: flex;
        }

        &-price{
            padding: 35px 0px 0px 0px;
            text-align: end;
        }

        &:hover{
            box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.13);
        }

        .counter{
            display: block;
            text-align: center;
            margin-right: 50px;
            margin: 35px 50px 0 0;
    
            &__number{
                width: 130px;
                margin: 0px 0px 17px 0px;
                cursor: pointer;
            }
    
            button{
                background: transparent;
                color: $text-grey;
                font-size: 14px;
    
                svg{
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
    
                    use{
                        stroke: $text-grey;
                    }
                }
    
                &:hover{
                    color: $button-active;
    
                    use{
                        stroke: $button-active;
                    }
                }
            }
        }
    }

    &__img{

        img{
            width: 111px;
            height: 180px;
            margin-right: 48px;
        }
    }

    &__description{

        .block-title{
            font-size: 16px;
            margin-bottom: 5px;

            &__inglish{
                font-size: 14px;
                color: $text-grey;
            }
        }
    }

    .sale{
        top: 20px;
        left: 20px;
    }
}

.quantity-stroke{
    margin: 5px 0px 0px 15px;
    font-size: 14px;
    line-height: 16px;
    color: $text-grey;
}

.title-block{
    display: flex;
    align-items: center;
    margin: 12px 0px 0px 0px;
}


@media (max-width: 1090px){

    .basket-page{

        &__body{
            display: block;
        }

        &__items {
            width: 100%;
        }

        &__result{
            width: 300px;
            margin: 0 auto;
        }
    }
}


@media (max-width: 790px){

    .basket-page{

        &__item{
            display: block;

            &-right-block{
                margin: -50px 0px 0px 160px;
            }

            &-price{
                padding: 0 0px 0px 0px;
            }

            .counter{
                margin: 0 50px 0 0;

                button{
                    color: #98001B;

                    svg{

                        use{
                            stroke: #98001B;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 540px){

    .basket-page{

        &__item{
            padding: 10px 10px 10px 10px;

            &-right-block{
                margin: -70px 0px 0px 130px;
            }

            .counter{
                margin: 0 20px 0 0;

                &__number{
                    width: 100px;
                    height: 30px;

                    span{
                        padding: 5px 10px;
                    }
                }
            }

            .product-min__price{
                font-size: 16px;
            }

            .product-min__price.old{
                font-size: 12px;
                margin-left: 13px;

                &::before{
                    width: 45px;
                }
            }
        }

        &__img {

            img{
                margin-right: 20px;
            }
        }

        &__description{

            .block-title{
                font-size: 12px;

                &__inglish{
                    font-size: 12px;
                }
            }
        }

        &__result{
            width: 100%;
        }

        .sale{
            top: 10px;
            left: 10px;
            width: 30px;
            height: 20px;
            font-size: 10px;
        }
    }
}