.button{
    height: 40px;
    width: 224px;
    background: $corporat-red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-white;
    transition: background 0.5s ease 0s;

    &:hover{
        background: $button-active;
    }

    &__more{
        width: auto;
        min-width: 152px;
        padding: 0 20px;
    }

    &__catalog{
        width: 130px;
        background: $button-catalog;
        color: $text-white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        svg{
            width: 20px;
            height: 18px;
            margin-right: 8px;
        }
    }

    &__show-all{
        margin: 0 auto;
    }

    &__approval{
        margin-right: 10px;
        width: 296px;
    }

    &__disapproval{
        width: 218px;
        background: $background-white;
        border: 1px solid #B6B6B6;

        a{
            color: $text-grey;
        }

        &:hover{
            background: $background-white;
            box-shadow: 0px 4px 14px rgb(0 0 0 / 15%);
        }
    }
}

.hide{
    display: none !important;
}




@media (max-width: 767px){

    .button__catalog{
        height: 35px;
    }
}


@media (max-width: 450px){

    .button{

        &__approval, &__disapproval{
            width: 100%;
        }
    }
}