.catalog-page{

    &__wrap{
        padding: 45px 0px 0px 0px;
    }

    &__content{
        margin-top: 45px;
    }

    .button__more{
        width: 200px;
        margin: 0 auto;
    }

    .title-block__wrap{
        display: flex;
        justify-content: space-between;
    }
}

.pager{
    margin: 30px 0px 70px 0px;

    &__list{
        display: flex;
        justify-content: center;
    }

    &__item{
        border: 1px solid #B6B6B6;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 15px;
        margin-right: 5px;
        cursor: pointer;
        transition: all 0.5s ease 0s;

        &_more{
            border: 0;
            padding: 10px;
        }

        &.active{
            background: $corporat-red;

            a{
                color: $text-white;

                span{
                    border-bottom: 2px solid #fff;
                    border-right: 2px solid #fff;
                }
            }
        }
        
        a{
            font-size: 16px;
            color: $text-grey;
            display: flex;
            align-items: center;
            width: 100%;

            span{
                height: 6px;
                width: 6px;
                border-bottom: 2px solid $text-grey;
                border-right: 2px solid $text-grey;
                transform: rotate(130deg);
                margin: 0px 8px 0px 0px;
            }
        }

        &_next{

            a{

                span{
                    margin: 0px 0px 0px 8px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.sorting-min {
    display: flex;
    align-items: center;

    p{
        font-size: 14px;
        color: $text-grey;
        margin-right: 9px;
    }

    &.active{

        .sorting-min__filter{
            display: block;
        }

        .sorting-min__button{
            background: $button-active;
            border-radius: 5px 5px 0px 0px;
            color: $text-white;

            &::after{
                top: 19px;
                border-bottom: 1px solid $text-white;
                border-right: 1px solid $text-white;
                transform: rotate(-135deg);
            }
        }
    }

    &__filter{
        border: 1px solid $border;
        box-sizing: border-box;
        border-radius: 0px 0px 5px 5px;
        width: 169px;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 10;
        background: $background-white;
        display: none;

        a{
            color: $text-lite;
            font-size: 14px;
            display: flex;
            align-items: center;
            padding: 0px 0px 0px 19px;
            height: 40px;
            cursor: pointer;

            &.active{
                background: #E2E2E2;
                color: $button-active;
            }
        }
    }

    &__button{
        width: 169px;
        height: 40px;
        padding: 0px 18px 0px 19px;
        font-size: 14px;
        background: $background-white;
        color: $text-grey;
        border: 1px solid #B6B6B6;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            top: 16px;
            right: 18px;
            height: 4px;
            width: 4px;
            border-bottom: 1px solid $text-grey;
            border-right: 1px solid $text-grey;
            transform: rotate(45deg);
        }

    }

    &__wrap{
        position: relative;
    }
}


@media (max-width: 1000px){

    .catalog-page{

        .title-block{

            &__wrap{
                display: block;

                .sorting-min{
                    margin-top: 10px;
                }
            }
        }
    }
}


@media (max-width: 710px){

    .pager{
        margin: 30px 0px 30px 0px;

        &__item{
            padding: 5px 10px;

            a{
                font-size: 12px;
            }

            &_prev,
            &_next{

                a{
                    font-size: 0;

                    span{
                        margin: 3px 3px 0px 3px;
                    }
                }
            }
        }
    }
}

@media (max-width:  630px){

    .catalog-page{

        &__wrap{
            padding: 30px 0px 0px 0px;
        }

        &__content{
            margin-top: 20px;
        }
    }

    .sorting-min{

        &__button{
            width: 130px;
            height: 30px;
            padding: 0px 5px 0px 5px;
            font-size: 12px;

            &::after{
                top: 10px;
                right: 10px;
            }
        }
    }
}

