.footer{

    &__top{
        background: $background-footer-top;
        padding: 70px 0px 50px 0px;
        
        &-wrap{
            display: flex;
            justify-content: space-between;
        }
    }

    &__accordion{
        width: 100%;
    }

    &__contacts{
        display: flex;
        flex-direction: column;
        min-width: 300px;

        .phone{
            margin: 30px 0px 0px 0px;
        }
    }

    &__item{
       
    }

    &__bottom{
        padding: 27px 0px 31px 0px;
        background: $background-footer-bottom;

        p, a{
            font-size: 12px;
            line-height: 120%;
        }
    }

    .block-title{
        font-weight: bold;
        font-size: 16px;
        color: $text-white;
        margin: 0px 0px 36px 0px;
    }

    a:hover{
        opacity: 0.7;
    }

    ul{

        li{
            font-size: 14px;
            line-height: 220%;
        }
    }
}




  
    .fa-chevron-down {
        transform: rotate(180deg);
    }
  
  .dropdownlink {
    position: relative;
    transition: all 0.4s ease-out;
    i {
      position: absolute;
      top: 17px;
      left: 16px;
    }
    .fa-chevron-down {
      right: 12px;
      left: auto;
    }
  }