.footer{

    &__top{
        background: $background-footer-top;
        padding: 70px 20px 50px 0px;
        
        &-wrap{
            display: flex;
            justify-content: space-between;
        }
    }

    &__contacts{
        display: flex;
        flex-direction: column;
        min-width: 200px;
        margin-bottom: 36px;

        .phone{
            margin: 30px 0px 0px 0px;
        }
    }

    &__item{
       
    }

    &__bottom{
        padding: 27px 0px 31px 0px;
        background: $background-footer-bottom;

        p, a{
            font-size: 12px;
            line-height: 120%;
            color: $text-white;
        }
    }

    .block-title{
        font-weight: bold;
        font-size: 16px;
        color: $text-white;
        margin: 0px 0px 36px 0px;
    }

    a:hover{
        opacity: 0.7;
    }

    ul{

        li{
            font-size: 14px;
            line-height: 220%;
            color: $text-white;
        }
    }
}

@media (max-width: 750px){

    .footer{

        &__top{
            padding-bottom: 20px;
        }

        &__top-wrap{
            display: block;
        }

        &__contacts{
            flex-direction: row;
            align-items: center;

            .phone{
                margin-top: 0;
            }
        }

        &__item{
            margin-bottom: 45px;

            ul li{
                height: 0;
                opacity: 0;
                transition: height .5s ease 0s;
            }

            &.active{

                ul li{
                    height: auto;
                    opacity: 1;
                    transition: height .5s ease 0s;
                }
            }
        }

        .block-title{
            margin: 0px 0px 10px 0px;
            font-size: 18px;
        }
    }
}

@media (max-width: 374px){

    .footer__contacts{
        flex-direction: column;
        align-items: self-start;

        .phone{
            margin-top: 20px;
        }
    }
}