.footer{

    &__top{
        background: $background-footer-top;
        padding: 70px 20px 50px 0px;
        
        &-wrap{
            display: flex;
            justify-content: space-between;
        }
    }

    &__contacts{
        display: flex;
        flex-direction: column;
        min-width: 200px;
        margin-bottom: 36px;

        .phone{
            margin: 30px 0px 0px 0px;
        }
    }

    &__item{
       width: 136px;
    }

    &__bottom{
        padding: 27px 0px 31px 0px;
        background: $background-footer-bottom;

        p, a{
            font-size: 12px;
            line-height: 120%;
            color: $text-white;
        }
    }

    .block-title{
        font-weight: bold;
        font-size: 16px;
        color: $text-white;
        margin: 0px 0px 36px 0px;
    }

    a:hover{
        opacity: 0.7;
    }

    ul{

        li{
            font-size: 14px;
            line-height: 220%;
            color: $text-white;
        }
    }
}

@media (max-width: 770px){

    .footer{
        position: relative;

        &__item{
            border-bottom: 1px solid $corporat-red;
            width: 100%;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                top: 25px;
                right: 5px;
                height: 5px;
                width: 5px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(45deg);
            }

            ul{
                display: none;

                li{

                    a{
                        color: $text-lite;
                    }
                    color: $text-lite;
                    font-size: 12px;
                }
            }

            &.active{

                ul{
                    display: block;
                }

                &::after{
                    top: 25px;
                    right: 5px;
                    transform: rotate(-135deg);
                }
            }
        }

        &__top-wrap{
            flex-direction: column;
        }

        &__bottom{
            padding: 20px 0px;
        }

        &__top {
            padding: 20px 20px 20px 0px;
        }

        .phone{
            position: absolute;
            right: 30px;
            bottom: 20px;

            span{
                font-size: 16px;
            }
        }

        .block-title{
            margin: 15px 0px;
        }

        .logo{
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 540px){

    .footer{

        &__bottom{

            p{
                font-size: 10px;
                margin-bottom: 5px;
            }

            a{
                font-size: 10px;
                line-height: 1;
            }

            .container{
                max-width: 180px;
                margin: 0;
            }
        }

        .phone{

            span{
                font-size: 12px;
            }
        }
    }
}