.form{

}

// Оставить новый отзыв
.form__reviews{
    padding: 44px 0px 0px 0px;
    .form{
        

        &__title{
            width: 199px;
            height: 40px;
            background: $button-active;
            border-radius: 5px;
            font-size: 16px;
            color: $text-white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__input-wrap{
            margin: 0px 0px 20px 0px;

            input{
                background: $background-white;
                border: 1px solid $border;
                box-sizing: border-box;
                border-radius: 5px;
                width: 400px;
                height: 40px;
                margin: 30px 0px 0;
                padding: 0px 0px 0px 20px;
            }

            textarea{
                width: 825px;
                height: 100px;
                background: $background-white;
                border: 1px solid $border;
                box-sizing: border-box;
                border-radius: 5px;
                padding: 10px 0px 0px 20px;
            }
        }

        &__buttons-wrap{
            display: flex;
            padding-top: 10px;

            .button{

                &__add{
                    width: 187px;
                    margin-right: 10px;
                }

                &__reset{
                    width: 133px;
                    background: $background-white;
                    border: 1px solid $border;
                    font-size: 16px;
                    color: $text-grey;
                }
            }
        }
    }

}


// Галочка Согласие внизу формы
.form__agree-wrap {
    display: flex;
    align-items: center;
    margin-top: 29px;
    position: relative;
}

.form__agree-checkbox {
    position: relative;
    display: block;
    margin-left: 25px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    color: #828282;

    &:before{
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 5px;
        background-color: #f3f3f3;
        position: absolute;
        top: 1px;
        left: -25px;
    }
}

.form__agree-checkbox-input:checked + .form__agree-checkbox {

    &:after{
        content: "";
        position: absolute;
        top: 4px;
        left: -20px;
        height: 9px;
        width: 8px;
        border-bottom: 2px solid $background-white;
        border-right: 2px solid $background-white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:before {
        background-color: $corporat-red;
    }
}

.form__agree-checkbox-input{
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 50;
    opacity: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form__agree-text{
    font-size: 14px;
    color: $text-grey;
    line-height: 140%;

    a{
        font-size: 14px;
        color: $text-red;
        line-height: 140%;
    }
}