@import "variables.scss";

.header{

	&__row{
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__top{
		height: 100px;
		background: $header-top;
		display: flex;
    	align-items: center;
	}

	&__bottom{
		height: 50px;
		background: $header-bottom;
		display: flex;
    	align-items: center;
	}

	&__info{
		display: flex;
		justify-content: space-between;
		align-items:center;
		width: 100%;
	}

	&__catalog{
		display: flex;
		height: 40px;
	}

	&__icons{
		display: flex;
		position: relative;
	}

	&__icon-group{
		display: block;
		text-align: center;
		margin-right: 24px;
		position: relative;

		&:last-child{
			margin-right: 0;
		}

		&-wrap{
			position: relative;
		}

		svg{
			height: 26px;
			width: 26px;
		}

		p{
			font-size: 12px;
			margin-top: 4px;
		}

		.qount{
			position: absolute;
			top: -5px;
			right: 0;
			font-weight: 500;
			border-radius: 23px;
			padding: 4px;
		}

		.summ{
			font-weight: 500;
			color: $text-white;
			margin-top: 5px;
		}
	}

	.favourites{
		top: 0;
		right: 0;
		opacity: 1;

		svg{

			use{
				fill: transparent;
				stroke: $background-white;
			}
		}
	}
}

.search{

    &-form{
        display: flex;
		position: relative;
		border-radius: 5px;

		&.active{

			.search-form__select{
				display: block;
			}

			.search-input{
				border-radius: 5px 0px 0px 0px;
			}
		}

		&__select{
			display: none;
			position: absolute;
			top: 40px;
			left: 0;
			width: 100%;
			background: $background-white;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.13);
			border-radius: 0px 0px 5px 5px;
			z-index: 10;

			&-title{
				font-weight: 500;
				font-size: 18px;
				color: $text-bold;
				line-height: 260%;
				padding: 0px 0px 0px 19px;
			}

			&-item{
				height: 40px;
				display: flex;
				align-items: center;
				padding: 0px 0px 0px 19px;

				a{
					font-size: 14px;
					color: $text-lite;
					margin-right: 10px;
				}

				.product-min__info{
					height: 16px;
					display: flex;
					align-items: center;
					padding: 0px 5px;
				}

				&.active{
					background: #E2E2E2;

					a{
						color: $text-bold;
					}

					.product-min__info{
						background: $background-white;
					}
				}
				
			}
		}
    }

    &-input{
        height: 40px;
        width: 318px;
        padding-left: 20px;
		border-radius: 5px 0px 0px 5px;
    }

    &-button-div{
        width: 60px;
        background: $button-catalog;
        display: flex;
        align-items:center;
        justify-content: center;
		border-radius: 0px 5px 5px 0px;

        button{
            background: transparent;
        }

		svg{
			width: 20px;
			height: 20px;
		}
    }
}

.phone{

	svg{
		margin-right: 5px;
		width: 20px;
		height: 20px;

		use{
			fill: #fff;
		}
	}

	span{
		font-weight: 500;
		font-size: 20px;
	}
}

.menu{
	width: 100%;

	ul{
		display: flex;
		justify-content: space-between;

		li{
			display: flex;
    		align-items: center;
			padding: 0 16px;
			transition: all .5s ease 0s;
			cursor: pointer;
		}

		.active{
			background: $button-active;
			height: 50px;
			padding: 0 16px;
		}
	}
}

@media (max-width: 1200px){

	.search-input-div{
		display: none;
	}

	.header__bottom{
		display: none;
	}
}

@media (max-width: 860px){

	.header__icon-group{

		.summ{
			font-size: 12px;
		}

		p{
			font-size: 10px;
		}
	}
}

@media (max-width: 770px){

	.header{

		.phone{
			display: none;
		}
	}

	
}

@media (max-width: 620px){

	.header{

		&__top{
			height: 70px;
		}

		&__icons{
			position: inherit;
		}

		&__icon-group{

			svg{
				width: 32px;
				height: 32px;
			}

			p{
				display: none;
			}

			.qount{
				top: -7px;
    			right: -8px;
			}
		}

		.summ{
			display: none;
		}

		.search-button-div{
			display: none;
		}

		.button__catalog{
			background: transparent;
			width: auto;

			span{
				display: none;
			}
		}

		.icon{
			width: 30px;
    		height: 30px;
		}

		.logo {
			margin-right: 0;
			width: 96px;
			height: 40px;
			position: absolute;
			top: 0;
			left: 40%;
		}

		.favourites{
			position: absolute;
			top: 3px;
			left: 60px;
			width: 32px;
		}
	}
}

@media (max-width: 424px){

	.header{

		&__icon-group{
			margin-right: 5px;
		}

		.favourites{
			left: 45px;
		}

		.logo{
			width: 80px;
		}
	}
}


