@import "variables.scss";

.header{

	&__top{
		display: flex;
		justify-content: space-between;
	}

	&__top-wrap{
		height: 100px;
		background: linear-gradient(90.02deg, #70001B -1.41%, #A5032A 102.17%);
		padding: 17px 0px 0px 0px;
	}

	&__info{
		display: flex;
		justify-content: space-between;
		align-items:center;
		width: 100%;
	}

	&__catalog{
		display: flex;
		height: 40px;
	}
}

.search{

    &-form{
        display: flex;
    }

    &-input{
        height: 40px;
        width: 318px;
        padding-left: 20px;
    }

    &-button-div{
        width: 60px;
        background: $catalog;
        display: flex;
        align-items:center;
        justify-content: center;

        button{
            background: transparent;
        }
    }
}

.phone{

	svg{
		margin-right: 5px;
	}

	span{
		color: $white;
		font-weight: 500;
		font-size: 20px;
		line-height: 170%;
	}
}




