.intro{
    background: $background-gray;
    padding: 50px 0px 20px 0px;

    .block__text{
        margin-bottom: 25px;
    }

    .block-title{
        margin-bottom: 20px;
    }
}


@media (max-width: 630px){

    .intro{
        padding: 20px 0px 20px 0px;

        .block-title {
            margin-bottom: 15px;
            font-size: 18px;
        }

        .block__text{
            font-size: 12px;
            margin-bottom: 15px;
        }
    }
}