.journal{
    margin-top: 70px;
    padding: 40px 0px 50px 0px;
    background: $background-gray;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 37px 0px 30px 0px;
    }

    &__item{
        width: 365px;

        .block-title{
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            margin: 26px 0px 12px 0px;

            &_red{
                color: $text-red;
            }
        }

        .block__text{
            font-size: 16px;
            line-height: 140%;
            color: $text-grey;
            max-height: 65px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}


@media (max-width: 1200px){

    .journal{

        &__body{
            justify-content: center;
            margin-bottom: 0;
        }

        &__header{

            .button__more{
                margin: 0 !important;
            }
        }

        &__item{
            margin: 0 20px 50px;
        }

        .button__more{
            margin: 0 auto;
        }
    }
}

@media (max-width: 520px) {

    .journal{
        margin-top: 40px;
        padding: 20px 0px 20px 0px;

        &__header{
            display: block;

            .block-title {
                margin-bottom: 15px;
            }
        }
    
        .block-title, .block__text{
            padding: 0px 10px;
        }

        &__body{
            margin-top: 25px;
        }

        &__item{
            width: 320px;

            img{
                width: 320px;
            }
        }
    }
}