.journal{
    margin-top: 70px;
    padding: 40px 0px 50px 0px;
    background: $background-gray;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 37px 0px 30px 0px;
    }

    &__item{
        width: 365px;

        .block-title{
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            margin: 26px 0px 12px 0px;

            &_red{
                color: $text-red;
            }
        }

        .block__text{
            font-size: 16px;
            line-height: 140%;
            color: $text-grey;
            max-height: 65px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}


@media (max-width: 1200px){

    .journal{

        &__body{
            justify-content: center;
            margin-bottom: 0;
        }

        &__header{

            .button__more{
                margin: 0 !important;
            }
        }

        &__item{
            margin: 0 20px 50px;
        }
    }
}


@media (max-width: 630px){

    .journal{
        margin-top: 0;
        padding: 20px 0px 40px 0px;

        &__body{
            margin-top: 10px;
        }

        &__header {

            .block-title{
                font-size: 18px;
                font-weight: 600;
            }
    
            .button__more{
                min-width: 120px;
                height: 35px;
            }
        }

        &__item{
            margin: 0px 0px 0px 0px;

            img{
                width: 100%;
            }

            .block-title{
                font-size: 16px;
            }

            .block__text{
                font-size: 12px;
                margin-bottom: 12px;
            }
        }
    }
}
