
// -10%
.sale{
    font-weight: bold;
    font-size: 16px;
    background: $button-catalog;
    border-radius: 5px;
    left: 30px;
    width: 50px;
    height: 26px;
}

// В наличии - ожидается
.available{
    background: #3CAA3C;
    border-radius: 4px;
    font-size: 10px;
    right: 30px;
    width: 60px;
    height: 16px;

    &_not{
        background: $gray !important;
        color: $text-white
    }
}

// Иконка избранного (сердечко)
.favourites{
    top: 56px;
    right: 30px;
    opacity: 0;
    transition: opacity 0.5s ease 0s;

    svg{
        // width: 23px;
        // height: 20px;

        use{
            stroke: $corporat-red;
            fill: $background-white;

            &.active{
                fill: $corporat-red;
            }
        }
    }
}


@media (max-width: 630px){

    .sale{
        left: 5px;
        top: 5px;
        width: 35px;
        height: 18px;
        font-size: 12px;
    }

    .available{
        right: 5px;
    }
}