.product-menu{
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 722px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
    z-index: -1;

    &__mobile{
        display: none;
        background: #F0F0F0;
        width: 300px;
        padding-top: 28px;

        .phone{
            padding: 0px 0px 0px 20px;

            svg{

                use{
                    fill: $corporat-red;
                }
            }

            span{
                color: $corporat-red;
                font-size: 22px;
            }
        }

        .search{

            &-form{
                padding: 30px 0px;
            }

            &-input-div{

                input{
                    width: 200px;
                    margin: 0px 0px 0px 20px;
                }
            }
        }
    }

    &__list{
        width: 300px;
        height: 100%;
        position: absolute;
        left: -100%;
        background: $background-lite-gray;
        border-right: solid 1px $border;
        transition: left 0.5s ease 0s;
    }

    &__item{
        height: 50px;
        padding: 0px 0px 0px 20px;

        &.active{
            background: $button-active;

            .product-menu__item_link{
                color: $text-white;
            }

            .product-menu__inner-wrap{
                display: flex;
            }
        }

        a{
            font-weight: 700;
            font-size: 16px;
            color: $text-bold;
            line-height: 50px;
        }
    }

    &__inner-wrap{
        position: absolute;
        top: 0;
        left: 300px;
        padding: 33px 315px 28px 75px;
        // display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        display: none;
        background: $background-gray;
        z-index: 10;
    }

    &__inner{
        

        &-title{
            font-weight: 700;
            font-size: 18px;
            line-height: 260%;
            color: $text-bold;
            text-transform: uppercase;
            padding: 0px 0px 0px 20px;
        }
    }

    &.active{
        opacity: 1;
        z-index: 15;

        .product-menu__list{
            left: 0;
        }
    }
}

.filter__item{

    li{
        font-weight: 400;
        font-size: 16px;
        line-height: 220%;
        color: $text-bold;
        padding: 0px 20px;

        a{
            font-weight: 400;
            font-size: 16px;
        }

        &:hover{
            background: #BC0021;
            border-radius: 5px;

            a{
                color: $text-white;
            }
        }
    }

    li.li-all{
        
        a{
            font-size: 18px;
            font-weight: 700;
            line-height: 260%;
        }
        
        
    }
}

@media (max-width: 1200px){

    .product-menu{
        top: 100px;

        &__item{

            a{
                color: $text-white;
            }

            &.active{
                background: $button-active;

                .product-menu__inner-wrap{
                    display: none;
                }
            }
        }

        &__list{
            background: #70001b;
            border-right: none;
        }
    }
}

@media (max-width: 770px){

    .product-menu{
        transition: all 0.5s ease 0s;

        &__mobile{
            display: block;

            

            .search-input-div {
                display: block;
            }
        }
    }
}

@media (max-width: 620px){
    
    .product-menu{
        
        top: 70px;
    }
}