.reviews{
    position: relative;

    &__item{
        display: flex;
        max-width: 825px;
        padding: 35px 0px 20px;
        border-bottom: solid 1px #E2E2E2;
        z-index: 1;
        position: relative;
    }

    &__info{
        margin-right: 67px;
    }

    &__name{
        font-weight: 500;
        font-size: 16px;
        color: $text-red;
        margin-bottom: 10px;
    }

    &__data{
        font-size: 14px;
        color: $text-grey;
        margin-bottom: 15px;
    }

    &__title{
        font-weight: 500;
        font-size: 16px;
        color: $text-bold;
        margin-bottom: 10px;
    }

    &__p{
        font-size: 14px;
        line-height: 140%;
        color: $text-grey;
        margin-bottom: 16px;
    }

    &__rating{
        width: 105px;
    }

    &__more{
        font-size: 14px;
        color: $text-red;
        margin-top: 22px;
        display: block;
        cursor: pointer;
    }

    img{
        width: 233px;
        height: 155px;
        position: absolute;
        top: 20px;
        right: 30px;
    }
}

.rating{

    &__item{
        fill: #fff;
        stroke: $corporat-red;
        width: 14px;
        height: 14px;
        margin-right: 1px;
        cursor: pointer;

        &--voted{
            fill: $corporat-red;
        }
    }
}

.likes{
    margin-top: 10px;
    display: flex;

    input{
        width: 20px;
        font-size: 14px;
        color: $text-grey;
        margin-right: 10px;
    }

    svg{
        width: 20px;
        height: 20px;
        margin-right: 8px;
        cursor: pointer;
    }
}


@media (max-width: 1000px){

    .reviews{

        img{
            top: 100px;
        }
    }
}


@media (max-width: 750px){

    .reviews{

        &__item{
            padding: 20px 0px 10px;
        }

        &__info{
            margin-right: 5px;
        }

        &__title{
            font-size: 12px;
        }

        &__p{
            font-size: 10px;
            margin-bottom: 8px;
        }

        img{
            width: 120px;
            height: 80px;
            top: 230px;
            right: -20px;
        }
    }
}