// @import "variables.scss";

.slider-block{
    margin: 40px auto 0;
    padding: 30px 0px 0px 0px;
    max-width: 1230px;

    &__header{
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        position: relative;

        .block-title{
            color: $text-red;
            width: 100%;
            display: flex;
            align-items: center;
            margin-right: 20px;
    
            &:after {
                content: '';
                width: 100%;
                height: 1px;
                background: $corporat-red;
                display: inline-block;
                margin-left: 20px;
            }
        }
    }

    &__simple{

        .slider-block__header{

            .block-title{
                color: $text-bold;

                &:after{
                    content: none;
                }
            }
        }
    }
}

.swiper{
    width: 1230px !important;
    height: 550px;
    padding: 20px 10px !important;
    overflow: hidden;

    .swiper-wrapper{
        width: 1230px !important;
    }

    .swiper-slide{
        height: 510px !important;
    }

    &-button-prev,
    &-button-next{
        width: 40px !important;
        height: 40px !important;
        border-radius: 50%;
        top: 230px !important;

        &::after{
            content: '' !important;
        }

        svg{
            width: 10px;
            height: 10px;
        }
    }

    &-button-prev{
        background: $slider-arrow-prev;
    }

    &-button-next{
        background: $corporat-red;
    }

    .product-min{
        width: 310px;
    }
  }


  @media (max-width: 1230px) {

    .swiper{

        &-button-prev,
        &-button-next{
            top: 30px !important;
            margin-top: 0 !important;
            width: 30px !important;
            height: 30px !important;
        }

        &-button-prev{
            left: 45% !important;
        }

        &-button-next{
            right: 45% !important;
        }
    }
  }

  @media (max-width: 670px) {

    .slider-block{

        .swiper-button-prev {
            left: 40% !important;
        }
    
        .swiper-button-next {
            right: 40% !important;
        }
    
        .button__more{
            min-width: 90px;
            font-size: 12px;
            padding: 0 10px;
        }

        .block-title{
            font-size: 18px;
        }

        .slider-block__header .block-title:after{
            display: none;
        }

        &__header{
            padding: 0px 10px;
        }
    }
  }