.slider-block{
    margin: 40px auto 0;
    padding: 30px 0px 0px 0px;
    max-width: 1230px;

    &__header{
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        position: relative;

        .block-title{
            color: $text-red;
            width: 100%;
            display: flex;
            align-items: center;
            margin-right: 20px;
    
            &:after {
                content: '';
                width: 100%;
                height: 1px;
                background: $corporat-red;
                display: inline-block;
                margin-left: 20px;
            }
        }
    }

    &__simple{

        .slider-block__header{

            .block-title{
                color: $text-bold;

                &:after{
                    content: none;
                }
            }
        }
    }
}

.swiper{
    width: 1230px !important;
    height: 550px;
    padding: 20px 10px !important;
    overflow: hidden;

    .swiper-wrapper{
        width: 1230px !important;
    }

    .swiper-slide{
        height: 510px !important;
    }

    &-button-prev,
    &-button-next{
        width: 40px !important;
        height: 40px !important;
        border-radius: 50%;
        top: 230px !important;

        &::after{
            content: '' !important;
        }

        svg{
            width: 10px;
            height: 10px;
        }
    }

    &-button-prev{
        background: $slider-arrow-prev;
    }

    &-button-next{
        background: $corporat-red;

        svg{
            transform: rotate(180deg);
        }
    }

    .product-min{
        width: 310px;
    }
  }


@media (max-width: 630px){

    .slider-block{
        margin: 0;

        &__header{
            padding: 0px 10px;

            .block-title{
                font-size: 18px;
            }
        }

        .button__more {
            min-width: 110px;
            padding: 0 10px;
        }
    }

    .swiper{
        height: auto;

        .product-min{
            width: 172px;
        }

        .swiper-slide{
            height: auto !important;
            width: 200px !important;
        }

        &-button-next {
            background: #EFEFEF;
        }
    }
}