/*=======COLORS========*/
$corporat-red: #BC0021;
$plashka-green: #3CAA3C;
$header-top: linear-gradient(90.02deg, #70001B -1.41%, #A5032A 102.17%);
$header-bottom: #70001B;
$gray: #AEAEAE;


/*buttons*/
$button-catalog: #BC0021;
$button-active: #98001B;

/*arrow css*/
$slider-arrow-prev: #EFEFEF;

/*text*/
$text-white: #FFFFFF;
$text-bold: #2E000B;
$text-lite: #686868;
$text-grey: #7B7B7B;
$text-lite-grey: #AFAFAF;
$text-red: #BC0021;

/*background*/
$background-gray: #FAFAFA;
$background-lite-gray: #F0F0F0;
$background-footer-top: #242424;
$background-footer-bottom: #1E1E1E;
$background-white: #FFFFFF;



/*border*/

